@model WebApplication1.Models.Timetable

@{
    ViewData["Title"] = "Удаление";
}

<h2>Вы действительно хотите удалить эту пару?</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DayOfWeek)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DayOfWeek)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TypeLesson)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TypeLesson)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Numbersubjectofday)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Numbersubjectofday.Number)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Subject)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Subject.SubjectAbbreviation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Teacher)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Teacher.FullName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Auditorium)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Auditorium.AuditoriumNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Speciality)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Speciality.SpecialityAbbreviation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Group)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Group.Code)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-default" /> |
        <a asp-action="Index">Отмена</a>
    </form>
</div>
